<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Управление складом</a>
    </div>
</div>

<div>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <h4 style="color:white">Склад</h4>
            <NavLink class="nav-link" href="/balances">Баланс</NavLink>
            <NavLink class="nav-link" href="/receipts">Поступления</NavLink>
            <NavLink class="nav-link" href="/shipments">Отгрузки</NavLink>
        </div>
        <div class="nav-item px-3">
            <h4 style="color:white">Справочники</h4>
            <NavLink class="nav-link" href="/clients/1">Клиенты</NavLink>
            <NavLink class="nav-link" href="/units/1">Единицы измерения</NavLink>
            <NavLink class="nav-link" href="/resources/1">Ресурсы</NavLink>
        </div>
    </nav>
</div>
